@model IEnumerable<CadastroUsuario_teste_psm.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    @using (Html.BeginForm("Index", "Usuarios", FormMethod.Post))
    {
        <p>Digite o nome</p>
            <input type="text" name="texto" id="texto" placeholder="Digite a pesquisa" />
            <div><button type="submit">Filtrar</button></div>
    }
</div>



<table class="table">
   


    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sexo.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioId })
        </td>
    </tr>
}

</table>
